<!DOCTYPE html>
<html lang="en">
  {% include "component/head.njk" %}
  <body>
    {% include "component/navbar.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "component/footer.njk" %}
  </body>
</html>
